# AWS local profile created through `aws login`
AWS_PROFILE=safeeats-dev
AWS_REGION=us-east-1

# S3 resources will be filled in after they are created
SAFEEATS_S3_BUCKET=

# Athena resources will be filled in after they are created
ATHENA_DATABASE=safeeats_dev
ATHENA_WORKGROUP=safeeats_dev
ATHENA_OUTPUT_LOCATION=

# Optional NYC Open Data application token
NYC_OPEN_DATA_APP_TOKEN=